@import '~bootstrap/scss/bootstrap';

body {
  color: white;
  background: url("https://i.imgur.com/CwD8WYh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 55px;
}

h6 {
  font-weight: bold;
}

.btn {
  text-align: center;
  white-space: nowrap;
}

.create {
  padding: auto;
  width: auto;
  text-align: left;
}

.modal-content {
  color: black;
  background-color: lightblue;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.success {
  background-color: #73D4FF;
  color: black;
  text-align: center;
}

.failure {
  background-color: #F00;
}

.hide {
  display: none;
}

#messageFour {
  text-align: center;
  color: #5790FF;
  background-color: #FEEFC8;
  text-decoration: underline;
  text-decoration-style: double;
}
.sign-in {
  text-align: center;
}
.navbar-signin {
  color: white;
  font-size: 18px;
}

.content {
  color: #27167A;
  background-color: #D2E9FA;
  text-align: center;
}

.rcorners1 {
  border-radius: 25px;
}

.homepage {
  background-color: rgba(0, 15, 180, 0.80);
}

.rcorners2 {
  border-radius: 15px;
}

.topofpage {
  font-family: 'Lobster', cursive;
  font-size: 155px;
}
